.body-general{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-card{
  padding: 0px;
  margin: 1%;
  height: fit-content;
  margin-top: 24px;
  border-radius: 4px;
  display: inline-block;
}

mat-toolbar{
  border-radius: 4px 4px 0px 0px;
}

.search-bar{
  color: white;
  font-size: 14px;
}

.margin-left-auto{
  margin-left: auto;
}

.table-card{
  padding: 0px;
  display: inline-block;
}


th{
  font-size: 1.2em;
}

th, td{
  text-align: left;
  padding: 24px;
}

.form-item{
  margin: 16px;
}
