
<div class="body-general">
  <!--ADD and REMOVE-->
  <mat-card>
    <mat-toolbar color="primary">
      <span>Product</span>

      <mat-form-field class="search-bar margin-left-auto" appearance="legacy">
        <input id="inputRemoveBarCode" matInput   placeholder="Bar Code" #inputSearch>
      </mat-form-field>
      <button (click)="searchProduct()" class="form-item" mat-raised-button color="secondary">SEARCH</button>

    </mat-toolbar>

    <mat-form-field class="form-item margin-left-auto" appearance="fill">
      <mat-label>CRUD Mode</mat-label>
      <mat-select #inputSelect (selectionChange)="changeFormMode()" [value]="'create'">
        <mat-option value="update">Update</mat-option>
        <mat-option value="create">Create</mat-option>
        <mat-option value="view">View</mat-option>
      </mat-select>
    </mat-form-field>

    <p>
      <mat-form-field class="form-item" appearance="legacy">
        <mat-label>Product's name</mat-label>
        <input class="teste" id="inputName" matInput placeholder="Name" #inputName>
      </mat-form-field>

      <mat-form-field class="form-item" appearance="legacy">
        <mat-label>Product's Bar Code</mat-label>
        <input id="inputBarCode" matInput placeholder="barCode" #inputBarCode>
      </mat-form-field>

      <mat-form-field class="form-item" appearance="legacy" floatLabel="always">
        <mat-label>Price</mat-label>
        <input id="inputPrice" matInput type="number" placeholder="0" #inputPrice>
        <span matPrefix>R$&nbsp;</span>
      </mat-form-field>
    </p>

    <p>
      <button
        (click) = "(inputSelect.value === 'create') ? postProduct(): updateProduct()"
        class="form-item" mat-raised-button color="primary"
        [innerText]="(inputSelect.value === 'create') ? 'ADD': 'SUBMIT'"
        [disabled]="(inputSelect.value === 'view')"></button>

      <button [disabled]="(inputSelect.value === 'create')" (click)="removeProduct()"
       class="form-item" mat-raised-button color="primary">REMOVE</button>
    </p>

  </mat-card>


  <!--TABLE-->
  <mat-card class="table-card">
    <mat-toolbar color="primary">
      <span>Products</span>
    </mat-toolbar>
    <table cdk-table [dataSource]="products">
      <!-- Name Column -->
      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef> Name </th>
        <td cdk-cell *cdkCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <!-- barCode Column -->
      <ng-container cdkColumnDef="barCode">
        <th cdk-header-cell *cdkHeaderCellDef> Bar Code </th>
        <td cdk-cell *cdkCellDef="let product"> {{product.barCode}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container cdkColumnDef="price">
        <th cdk-header-cell *cdkHeaderCellDef> Price </th>
        <td cdk-cell *cdkCellDef="let product"> {{product.price}} </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
