.primary{
  background-color: #0076ce;
  color: white;
}

.body-general{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-card{
  padding: 0px;
  margin: 1%;
  height: fit-content;
  margin-top: 24px;
  display: inline-block;
  border-radius: 0px;
}

.search-bar{
  color: white;
  font-size: 14px;
}

.margin-left-auto{
  margin-left: auto !important;
}

.table-card{
  padding: 0px;
  display: inline-block;
}

th{
  font-size: 1.2em;
  text-align: left;
  padding: 16px;
}

td{
  text-align: left;
  padding: 0px 16px 16px 16px;
}

.form-item{
  margin: 16px;
}

.form-input{
  width: 200px;
  display: inline-block;
}
