
<mat-card>
  <p>
    <mat-form-field class="form-item" appearance="legacy">
      <mat-label>Product's name</mat-label>
      <input id="inputName" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field class="form-item" appearance="legacy">
      <mat-label>Product's Bar Code</mat-label>
      <input id="inputBarCode" matInput placeholder="barCode">
    </mat-form-field>

    <mat-form-field class="form-item" appearance="legacy" floatLabel="always">
      <mat-label>Price</mat-label>
      <input id="inputPrice" matInput type="number"  placeholder="0">
      <span matPrefix>R$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>

    <button (click)="postProduct()" class="form-item" mat-raised-button color="primary">ADD</button>

  </p>
</mat-card>

<mat-card>
  <p>
    <mat-form-field class="form-item" appearance="legacy" floatLabel="always">
      <mat-label>Id</mat-label>
      <input id="inputId" matInput type="number"  placeholder="0">
    </mat-form-field>

    <button (click)="removeProduct()" class="form-item" mat-raised-button color="primary">REMOVE</button>

  </p>
</mat-card>

<div>

  <mat-card class="table-card">
    <mat-toolbar color="primary">
      <span>Produtos cadastrados</span>
    </mat-toolbar>
    <table cdk-table [dataSource]="products">
      <!-- Id Column -->
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell *cdkHeaderCellDef> Id </th>
        <td cdk-cell *cdkCellDef="let product"> {{product.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef> Name </th>
        <td cdk-cell *cdkCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <!-- barCode Column -->
      <ng-container cdkColumnDef="barCode">
        <th cdk-header-cell *cdkHeaderCellDef> Bar Code </th>
        <td cdk-cell *cdkCellDef="let product"> {{product.barCode}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container cdkColumnDef="price">
        <th cdk-header-cell *cdkHeaderCellDef> Price </th>
        <td cdk-cell *cdkCellDef="let product"> {{product.price}} </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
